@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;0,800;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.logo {
  padding-top: 60px;
  text-transform: capitalize;
  color: white;
  font-style: italic;
}

#banner {
  padding: 0 50px;
  background-image: url(../src/imagen1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50vh;
  left: 0;
}

.container {
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-principal {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.container h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.reservar-vuelo {
  color: white;
  border: 1px solid #0d65d8;
  background-color: #0d65d8;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 40px;
  align-self: center;
  margin-top: 170px;
  transition: all 0.4s;
}

.reservar-vuelo:hover {
  background-color: #2d78da;
}

#promocional {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-promocional {
  margin-left: 150px;
}

.title-promocional {
  font-size: 50px;
  margin: 40px 50px;
}

.p-promocional {
  font-size: 20px;
  margin: 40px 50px;
}

.condiciones {
  font-size: 15px;
  margin: 150px 50px;
  text-transform: uppercase;
}

.beneficios {
  margin: 100px 100px;
}

.beneficios-list {
  background-color: #0d65d8;
  padding: 110px 80px;
  color: white;
}

.title-destinos {
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}

#destinos {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

#destinos img {
  height: 250px;
  width: 250px;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.contenedor-btn {
  text-align: center;
}

.reservar-vuelo-destino {
  margin: 0 auto;
  color: white;
  border: 1px solid #0d65d8;
  background-color: #0d65d8;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 40px;
}

#inscripcion {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: #0d65d8;
}

.container-inscripcion {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.container-inscripcion img {
  margin-left: 80px;
  width: 80vh;
  height: 100vh;
}

.contenido-inscripcion {
  margin-right: 280px;
  margin-top: 100px;
}

.contenido-inscripcion h3 {
  font-size: 50px;
  color: white;
  font-weight: 400;
}

.contenido-inscripcion p {
  color: white;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.Inscribete {
  color: #0d65d8;
  border: 1px solid white;
  background-color: white;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 40px;
  transition: all 0.4s;
}

#pasajeros {
  padding: 0px 50px;
  background-color: rgba(122, 122, 122, 0.068);
}

#pasajeros h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
}

.contenido-pasajeros {
  padding: 100px 50px;
  display: flex;
  justify-content: space-evenly;
}

.carta-pasajero {
  background-color: white;
  color: black;
  padding: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.carta-pasajero img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nombre-cargo {
  color: #7f8183;
}

#mision {
  display: flex;
  padding: 0 50px;
  background-image: url(../src/imagen6.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}

.title-mision {
  color: white;
  font-size: 50px;
  padding: 50px;
}

.mision {
  background-color: white;
  font-size: 23px;
  padding: 50px;
  margin: 30px 40px 450px 20px;
}

#contact {
  padding: 0 50px;
  background-color: white;
  height: 60vh;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
}

.title-contact {
  margin: 80px;
  font-size: 30px;
  color: #0d65d8;
  font-style: italic;
}

.ubicacion-contact {
  margin: 0 60px;
  display: flex;
}

.ubicaciones {
  margin-left: 100px;
}

.group-ubication {
  display: flex;
  grid-gap: 70px;
}

.correo {
  margin-left: 60px;
  margin-top: 60px;
  font-weight: 700;
}

@media (max-width: 768px) {
    #promocional{
        flex-direction: column;
        justify-content: center;
    }

    .container-promocional{
        margin-left: 0;
    }

    .beneficios {
        margin: 0 60px 80px;
    }

    #destinos{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contenedor{
        margin-bottom: 30px;
    }

    #inscripcion {
        flex-direction: column;
    }

    .container-inscripcion img{
        margin-left: 0;
    }

    .contenido-inscripcion{
        margin: 0;
        padding: 80px;
    }

    .Inscribete{
        padding-bottom: -50px;
    }

    .contenido-pasajeros{
        flex-direction: column;
        grid-gap: 20px;
    }

    #mision {
        flex-direction: column;
        padding: 20px;
    }

    .ubicacion-contact{
        flex-direction: column;
    }

    .ubicaciones{
        margin: 20px 0px;
    }

    .group-ubication{
        flex-direction: column;
        grid-gap: 10px;
    }

    .correo {
        margin: 0px 60px;
        padding-bottom: 60px;
    }
}